.wordCarousel
	max-width: max-content

	div
		overflow: hidden
		position: relative
		float: right
		height: 65px

		ul
			padding: 0
			margin: 0

			li
				padding: 0 10px
				height: 45px
				margin-bottom: 45px
				display: block

.flip2
	animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite
.flip3
	animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite
.flip4
	animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite
.flip5
	animation: flip5 12s cubic-bezier(0.23, 1, 0.32, 1.2) infinite

.rotate
	animation-name: rotate
	animation-duration: 35s
	animation-iteration-count: infinite
	animation-timing-function: linear(0 0%, 0.25 25%, 0.5 50%, 0.75 75%, 1 100%)

.move1
	animation: 3s linear .5s infinite alternate move1
.move2
	animation: 3s linear .5s infinite alternate move2
.move3
	animation: 3s linear .5s infinite alternate move3
.move4
	animation: 3s linear .5s infinite alternate move4

.scaleXL
	animation: scaleX .5s normal forwards linear
	transform-origin: bottom left
.scaleXR
	animation: scaleX .5s normal forwards linear
	transform-origin: bottom right
.scale
	animation: scale .5s normal forwards linear
	transform-origin: bottom right

@keyframes flip2
	0%
		margin-top: -45px
	5%
		margin-top: -90px
	50%
		margin-top: -90px
	55%
		margin-top: 0px
	99.99%
		margin-top: 0px
	100%
		margin-top: -45px
@keyframes flip3
	0%
		margin-top: -270px
	5%
		margin-top: -180px
	33%
		margin-top: -180px
	38%
		margin-top: -90px
	66%
		margin-top: -90px
	71%
		margin-top: 0px
	99.99%
		margin-top: 0px
	100%
		margin-top: -270px
@keyframes flip4
	0%
		margin-top: -360px
	5%
		margin-top: -270px
	25%
		margin-top: -270px
	30%
		margin-top: -180px
	50%
		margin-top: -180px
	55%
		margin-top: -90px
	75%
		margin-top: -90px
	80%
		margin-top: 0px
	99.99%
		margin-top: 0px
	100%
		margin-top: -360px
@keyframes flip5
	0%
		margin-top: -450px
	5%
		margin-top: -360px
	20%
		margin-top: -360px
	25%
		margin-top: -270px
	40%
		margin-top: -270px
	45%
		margin-top: -180px
	60%
		margin-top: -180px
	65%
		margin-top: -90px
	80%
		margin-top: -90px
	85%
		margin-top: 0px
	99.99%
		margin-top: 0px
	100%
		margin-top: -450px

@keyframes rotate
	from
		transform: rotate(-360deg)
	to
		transform: rotate(360deg)

@keyframes move1
	0%
		top: -20px
		right: -32px

	35%
		top: -20px
		right: -32px

	60%
		top: -15px
		right: -62px

	100%
		top: -15px
		right: -62px
@keyframes move2
	0%
		top: 90px
		left: 30px

	35%
		top: 90px
		left: 30px

	60%
		top: 80px
		left: 15px

	100%
		top: 80px
		left: 15px
@keyframes move3
	0%
		top: calc(50% - 19px)

	35%
		top: calc(50% - 19px)

	60%
		top: calc(50% - 29px)

	100%
		top: calc(50% - 29px)
@keyframes move4
	0%
		bottom: 90px
		right: -50px

	35%
		bottom: 90px
		right: -50px

	60%
		bottom: 70px
		right: 5px

	100%
		bottom: 70px
		right: 5px

@keyframes scaleX
	from
		transform: scaleX(0)
	to
		transform: scaleX(1)
@keyframes scale
	from
		transform: scale(0)
	to
		transform: scale(1)
